* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

section {
  padding: 7% 15%;
  overflow: hidden;
  width: 100%;
}

#top {
  background-image: linear-gradient(to right bottom, #ff8f70, #ff7e66, #ff6c5e, #ff5758, #ff3d54);
  border-radius: 0px 0px 0px 100px;
  text-align: center;
  position: relative;
}
#top a {
  text-decoration: none;
}
#top .bg-intro img {
  width: 300px;
  height: 200px;
}
#top nav {
  display: flex;
  justify-content: space-around;
  align-content: center;
}
#top nav .burger {
  display: none;
}
#top nav .burger div {
  width: 25px;
  height: 4px;
  background-color: white;
  margin: 5px;
  border-radius: 10px;
}
#top .logo {
  flex-grow: 1;
}
#top .frame {
  display: flex;
  flex-direction: row;
}
#top .nav-links {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 50%;
  flex-grow: 2;
}
#top .nav-links li {
  list-style-type: none;
}
#top .nav-links a {
  font-family: "Ubuntu", sans-serif;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 500;
  font-size: 14px;
  padding: 1em 3em;
  color: white;
}
#top .nav-links .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  margin-top: 20px;
  padding: 20px 0px;
  border-radius: 5px;
}
#top .nav-links .dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  width: 100%;
}
#top .nav-links .dropdown:hover .dropbtn {
  text-decoration: underline;
}
#top .nav-links .dropdown-content a:hover {
  font-weight: bold;
}
#top .nav-links .dropdown:hover .dropdown-content {
  display: block;
}
#top .login-signup {
  flex-grow: 1;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#top h1 {
  font-family: "Overpass", sans-serif;
  color: white;
  font-weight: 600;
  font-size: 4rem;
  text-align: center;
  padding: 100px 0px 30px 0px;
}
#top p {
  font-family: "Overpass", sans-serif;
  font-weight: 300;
  font-size: 20px;
  text-align: center;
  color: rgba(255, 255, 255, 0.781);
  letter-spacing: 1px;
}
#top .cta {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
#top .btn {
  border-radius: 30px;
  width: max-content;
  padding: 0.8em 1.5em;
  font-family: "Ubuntu", sans-serif;
  font-weight: 600;
  margin: 0px 5px;
  text-align: center;
}
#top .btn-blank {
  color: white;
  font-weight: 500;
}
#top .btn-white {
  background-color: white;
  color: #ff525d;
}
#top .btn-white:hover {
  background-color: #ff7a85;
  color: white;
}
#top .btn-white-rev {
  background-color: none;
  border: 2px solid white;
  color: white;
}
#top .btn-white-rev:hover {
  background-color: white;
  color: #ff525d;
}

#second .box {
  display: flex;
  flex-direction: row;
}
#second h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: center;
  margin-bottom: 3rem;
  color: #1f3f5b;
}

.card-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 50%;
}

.card {
  width: 60ch;
  margin-bottom: 2rem;
}
.card p {
  font-family: "Ubuntu", sans-serif;
  font-weight: 400;
  color: #c8c8cb;
  font-size: 16px;
  line-height: 2rem;
}
.card h3 {
  font-family: "Ubuntu", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  color: #1f3f5b;
  margin-bottom: 2rem;
}

/*Section 3*/
#third {
  display: flex;
  justify-content: flex-end;
  border-radius: 0px 100px 0px 100px;
  background-image: linear-gradient(to top, #2c2d3f, #313248, #353751, #3a3c5b, #3f4164);
}
#third h2 {
  font-family: "Overpass", sans-serif;
  font-weight: 600;
  font-size: 2rem;
  text-align: left;
  margin-bottom: 3rem;
  color: white;
}

/*forth*/
#forth {
  display: flex;
  justify-content: flex-end;
}

/*footer*/
footer {
  display: flex;
  justify-content: space-around;
  padding: 7% 15%;
  background-color: #25252d;
  border-radius: 0px 100px 0px 0px;
}
footer .blocks {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 100%;
  color: #c8c8cb;
  font-family: "Ubuntu", sans-serif;
}
footer .blocks ul {
  list-style-type: none;
}
footer .blocks li {
  padding: 10px;
}
footer .blocks li:first-child {
  font-weight: bold;
  margin-bottom: 20px;
}
footer .blocks a {
  text-decoration: none;
  color: #c8c8cb;
}
footer .blocks a:hover {
  text-decoration: underline;
}
footer .blocks p {
  color: white;
}

/*Attribution*/
.attribution {
  font-size: 15px;
  color: white;
  text-align: center;
  background-color: #25252d;
}

.attribution a {
  text-decoration: none;
  color: #fff34d;
}

.attribution a:hover {
  font-size: 20px;
}

@media only screen and (max-width: 650px) {
  section {
    padding: 5% 7%;
  }

  .card-container {
    width: 100%;
    justify-content: center;
    align-content: center;
  }

  .card {
    width: 250px;
    margin: 0 auto 32px;
    text-align: center;
  }
  .card p {
    font-size: 0.8rem;
    line-height: 1.2rem;
  }
  .card h3 {
    font-size: 1.2em;
  }

  #top nav {
    flex-direction: row;
    justify-content: space-around;
  }
  #top nav .logo img {
    position: absolute;
    left: 10%;
  }
  #top nav .burger {
    display: block;
    cursor: pointer;
  }
  #top nav .frame-actives {
    transform: translateX(0%) !important;
  }
  #top nav .frame {
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    position: absolute;
    left: 10%;
    z-index: 2;
    width: 85%;
    margin: 16% 0% 0%;
    transform: translateX(120%);
    transition: transform 0.5s ease-in;
  }
  #top nav .frame .nav-links {
    flex-direction: column;
    background-color: white;
    width: 85%;
  }
  #top nav .frame .nav-links li {
    margin: 20px 100px;
  }
  #top nav .frame .nav-links a {
    color: #4b5862;
    font-size: 13px;
    border-radius: 50px;
  }
  #top nav .frame .nav-links a:hover {
    font-size: 12px;
  }
  #top nav .frame .login-signup {
    flex-direction: column;
    background-color: white;
    width: 85%;
  }
  #top nav .frame .login-signup a {
    font-size: 13px;
    margin: 20px auto;
  }
  #top nav .frame .login-signup a:nth-of-type(1) {
    color: #4b5862;
    border-radius: 50px;
  }
  #top nav .frame .login-signup a:nth-of-type(2) {
    background-color: #ff7a85;
    color: white;
  }
  #top h1 {
    font-size: 2rem;
  }
  #top p {
    font-size: 15px;
  }

  #second .box {
    flex-direction: column;
    text-align: center;
    width: 100%;
  }
  #second h2 {
    font-size: 1.5rem;
  }

  #third {
    justify-content: center;
  }

  footer {
    flex-direction: column;
    justify-content: center;
    position: relative;
  }
  footer .logo {
    position: absolute;
    top: 7%;
    left: 37%;
  }
  footer .blocks {
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }
  footer li {
    padding: 0px;
  }
  footer .block1 {
    margin: 150px auto 30px;
  }
  footer .block2,
footer .block3 {
    margin: 30px auto;
  }
}

/*# sourceMappingURL=style.css.map */
